<section class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h1>{{name}}</h1>
    </div>
</section>
        
    
    <section class="row">
        <div class="col-lg-6">
        <img src="{{bioPic}}" alt="users image">
        </div>
        <div class="col-lg-6 text-center">
            <h4>{{role}}</h4>
        <p>{{bio}}</p>
        <p>{{other}}</p>
        <button>Add to cart</button>
    </div>

</div>
</section>

